<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CarListServlet</servlet-name>
        <servlet-class>controller.CarListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailsServlet</servlet-name>
        <servlet-class>controller.CarDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarCreateServlet</servlet-name>
        <servlet-class>controller.CarCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarEditServlet</servlet-name>
        <servlet-class>controller.CarEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarUpdateServlet</servlet-name>
        <servlet-class>controller.CarUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDeleteServlet</servlet-name>
        <servlet-class>controller.CarDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarListServlet</servlet-name>
        <url-pattern>/CarListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailsServlet</servlet-name>
        <url-pattern>/CarDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarCreateServlet</servlet-name>
        <url-pattern>/CarCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarEditServlet</servlet-name>
        <url-pattern>/CarEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarUpdateServlet</servlet-name>
        <url-pattern>/CarUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDeleteServlet</servlet-name>
        <url-pattern>/CarDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>CarListServlet</welcome-file>
    </welcome-file-list>
</web-app>
