<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewBookController</servlet-name>
        <servlet-class>Controllers.Book.ViewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>Controllers.Book.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>Controllers.Cart.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>Controllers.Cart.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>Controllers.Cart.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>Controllers.Cart.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartController</servlet-name>
        <servlet-class>Controllers.Cart.SaveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.Cart.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewBookController</servlet-name>
        <url-pattern>/ViewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/BookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/AddCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartController</servlet-name>
        <url-pattern>/SaveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
