/PRJ301/learn/learn_controller/nbproject/private/
/PRJ301/learn/learn_controller/build/
/PRJ301/learn/Party/nbproject/private/
/PRJ301/learn/Party/build/
/PRJ301/SE1940/lab/TestJDBC/nbproject/private/
/PRJ301/SE1940/lab/TestJDBC/build/
/PRJ301/SE1940/lab/lab_1/HandOnLab1/build/
/PRJ301/SE1940/lab/lab_1/HandOnLab1/nbproject/private/
/PRJ301/SE1940/lab/lab_2/TestJDBC/build/
/PRJ301/SE1940/lab/lab_2/TestJDBC/nbproject/private/
/PRJ301/SE1940/lab/lab_2/HandOnLab2/nbproject/private/
/PRJ301/SE1940/lab/lab_2/TestJDBC/dist/
/PRJ301/SE1940/lab/lab_2/HandOnLab2/build/
/PRJ301/SE1940/lab/lab_2/HandOnLab2/dist/
/PRJ301/SE1940/in_class/WebApplication1/nbproject/private/
/PRJ301/SE1940/in_class/DemoServletContext/nbproject/private/
/PRJ301/SE1940/in_class/DemoServletContext/build/
/PRJ301/SE1940/in_class/DemoServletContext/dist/
/PRJ301/learn/Party/dist/
/PRJ301/learn/dsfdsa/build/
/PRJ301/learn/dsfdsa/nbproject/private/
/PRJ301/SE1940/lab/lab_3/HandOnLab3/nbproject/private/
/PRJ301/SE1940/lab/lab_3/HandOnLab3/build/
/PRJ301/SE1940/lab/lab_3/HandOnLab3/dist/
/PRJ301/SE1940/in_class/web01/nbproject/private/
/PRJ301/SE1940/in_class/web01/dist/
/PRJ301/SE1940/in_class/web01/build/
