<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarsListController</servlet-name>
        <servlet-class>controllers.CarsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailsController</servlet-name>
        <servlet-class>controllers.ViewDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCarsController</servlet-name>
        <servlet-class>controllers.CreateCarsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCarsController</servlet-name>
        <servlet-class>controllers.EditCarsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCarsController</servlet-name>
        <servlet-class>controllers.UpdateCarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarsListController</servlet-name>
        <url-pattern>/CarsListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailsController</servlet-name>
        <url-pattern>/ViewDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCarsController</servlet-name>
        <url-pattern>/CreateCarsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCarsController</servlet-name>
        <url-pattern>/EditCarsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCarsController</servlet-name>
        <url-pattern>/UpdateCarsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>CarsListController</welcome-file>
    </welcome-file-list>
</web-app>
